<section class="contact">
    <h3>{{ contactTitle }}</h3>
    <div class="contact-container">
        <div class="contact-top">
            <div class="c-split">
                <div class="contact-me">
                    <p>{{ contactText }}</p>
                </div>
                <div class="contact-input">
                    <p>name</p>
                    <input type="text">
                </div>
            </div>
            <div class="c-split">
                <div class="contact-me">
                    <a href="">
                        <img src="" alt="">
                        0173-1500779
                    </a>
                    <a href="">
                        <img src="" alt="">
                        frey-email-mail.com
                    </a>
                </div>
                <div class="contact-input">
                    <p>email</p>
                    <input type="text">
                </div>
            </div>
        </div>
    </div>
</section>