@import './../../../assets/styles/mixins.scss';

.contact{
    @include dFlex(center, center);
    flex-direction: column;
    @include maxWidthPadding(60px, 50px);
    scroll-margin-top: 30px;
    margin: 0 auto;
    color: $col-font-main;
    overflow: hidden;
}

.c-top {
    @include dFlex(center, center, 10%);
    margin-bottom: 20px;
    >p,
    >div {
        flex: 1;
    }
    .contact-info {
        @include dFlex(center, flex-start, 10px);
        flex-wrap: wrap;
        >a {
            @include dFlex(flex-start, center, 15px);
            width: 200px;
            >img {
                height: 30px;
                width: 30px;
            }
        }
    }
}
.c-bottom {
    @include dFlex(center, center, 10%);
    width: 100%;
    .check-submit {
        @include dFlex(space-between, center, 20px);
        width: 100%;
        >div {
            @include dFlex(center, flex-start, 10px);
            a {
                color: $col-dev-main;
                &:hover {
                    color: $col-des-main;
                }
            }
            >input {
                border: none;
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
        }
    }
}

form {
    @include dFlex(center, center, 20px);
    margin-top: 30px;
    width: 100%;
    flex-direction: column;

    .form-object {
        @include dFlex(center, center);
        flex-direction: column;
        width: 100%;
        flex: 1;
    }
    .form-top {
        @include dFlex(center, center, 10%);
        width: 100%;
    }
    button {
        @include dFlex(center, center);
        width: 100px;
        height: 80px;
        border-radius: 2px;
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        transition: all 0.5s ease;
        >img {
            height: 26px;
        }
        &:hover {
            cursor: pointer;
            >img {
                fill: #EE8C1B;
                transform: scale(1.04);
            }
        }
    }
}

input,
textarea,
label {
    display: block;
    position: relative;
    width: 100%;
}

label {
    margin-bottom: 5px;
    color: $col-des-main;
}

input,
textarea {
    background-color: transparent;
    border: none;
    color: $col-font-main;
    font-size: 18px;
    padding: 10px 10px;
}

textarea {
    resize: none;
}

#privacyCheckLabel {
    color: $col-font-main;
}

.valid {
    border: none;
}

.neutral-wrapper {
    width: 100%;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.063);
}

.valid-wrapper,
.invalid-wrapper {
    border-radius: 5px;
    position: relative;
    width: 100%;
}

.valid-wrapper {
    border: 3px solid $col-dev-main;
}

.valid-wrapper::before{
    content: "✔";
    position: absolute;
    text-align: center;
    top: 4px;
    right: 4px;
    color: $col-dev-main;
}

.invalid-wrapper {
    border: 2px solid rgb(255, 65, 12);
}

.invalid-wrapper::before{
    content: "✖";
    @include dFlex(center, center, 0 , absolute);
    top: 4px;
    padding: 0;
    right: 4px;
    width: 20px;
    height: 20px;
    color: rgb(255, 65, 12);
}

input:focus, textarea:focus {
    outline: none;
    box-shadow: none;
}

.invalid-info {
    font-size: 14px;
    color: rgb(255, 65, 12);
    padding: 0 0 10px 10px;
}

#privacyCheckLabel {
    >span {
        color: rgb(255, 65, 12);
    }
}

.message-sent {
    @include dFlex(center, center, 0, absolute);
    left: 50%;
    text-wrap: nowrap;
    transform: translateX(-50%);
    margin-top: 20px;
    padding: 20px 30px;
    color: $col-font-main;
    background-color: $col-des-main;
    border-radius: 5px;
    filter: drop-shadow(0 0 5px $col-bg-main);
}


@media screen and (max-width: 768px) {
    .c-top {
        flex-direction: column;
        .contact-info {
            margin-top: 20px;
        }
    }
    .form-top {
        flex-direction: column;
        gap: 20px !important;
    }
    label {
        font-size: 12px;
    }
}
