@import './../../../assets/styles/mixins.scss';

.contact{
    @include dFlex(center, center);
    flex-direction: column;
    @include maxWidthPadding(80px, 50px);
    margin: 0 auto;
    color: white;
}

.c-top {
    @include dFlex(center, center, 10%);
    margin-bottom: 20px;
    >p,
    >div {
        flex: 1;
    }
    .contact-info {
        @include dFlex(center, flex-start, 10px);
        flex-direction: column;
        >a {
            @include dFlex(flex-start, center, 15px);
            width: 200px;
            >img {
                height: 30px;
                width: 30px;
            }
        }
    }
}
.c-bottom {
    @include dFlex(center, center, 10%);
    width: 100%;
}
form {
    @include dFlex(center, center, 20px);
    margin-top: 30px;
    width: 100%;
    flex-direction: column;

    .form-object {
        @include dFlex(center, center);
        flex-direction: column;
        width: 100%;
        flex: 1;
        >input,
        >textarea,
        >label {
            width: 100%;
        }
        >label {
            margin-bottom: 5px;
            color: $col-des-main;
        }
        >input,
        textarea {
            background-color: rgba(255, 255, 255, 0.316);
            border: none;
        }
    }
    .form-top {
        @include dFlex(center, center, 10%);
        width: 100%;
    }
}

