<section class="contact" id="aContact">
    <h3
        data-aos="fade-zoom-in"
        data-aos-easing="ease-in-back"
        data-aos-offset="0"
    >
        {{ contactTitle }}
    </h3>
    <section class="c-top">
        <p data-aos="fade-right">{{ contactText }}</p>
        <div data-aos="fade-left" class="contact-info">
            <a href="">
                <img [src]="contact.socialRefs[3].imgSource" [alt]="contact.socialRefs[3].title">
                0173-1500779
            </a>
            <a>
                <img [src]="contact.socialRefs[2].imgSource" [alt]="contact.socialRefs[2].title">
                frey-email-mail.com
            </a>
        </div>
    </section>
    <section class="c-bottom" data-aos="fade-up">
        <form (ngSubmit)="onSubmit(contactForm)" #contactForm ="ngForm">

            <section class="form-top">
                <div class="form-object">
                    <label for="fname">Name</label>
                    <input [(ngModel)]="contactData.name"
                            type="text" id="fname" name="fullname" required>
                
                </div>
                <div class="form-object">
                    <label for="mail">Mail</label>
                    <input [(ngModel)]="contactData.email"
                            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
                            type="text" id="mail" name="email" required>
                </div>
            </section>

            <div class="form-object">
                <label for="subject">Message</label>
                <textarea 
                    #message="ngModel"
                    [(ngModel)]="contactData.message"
                    id="subject"
                    name="subject"
                    style="height:200px"
                    minlength="10" 
                    maxlength="800"
                    required >
                </textarea>
                    @if (!message.valid && message.touched) {
                        <span>Please enter a message</span>
                    }
            </div>
            <button type="submit" class="submit-btn-img">
                <img src="./assets/img/social/submit.svg" alt="Submit">
            </button>
        </form>
    </section>
</section>
