@import './../../../assets/styles/mixins.scss';

.contact{
    @include dFlex(center, center);
    flex-direction: column;
    @include maxWidthPadding(80px, 50px);
    scroll-margin-top: 30px;
    margin: 0 auto;
    color: white;
    overflow: hidden;
}

.c-top {
    @include dFlex(center, center, 10%);
    margin-bottom: 20px;
    >p,
    >div {
        flex: 1;
    }
    .contact-info {
        @include dFlex(center, flex-start, 10px);
        flex-wrap: wrap;
        >a {
            @include dFlex(flex-start, center, 15px);
            width: 200px;
            >img {
                height: 30px;
                width: 30px;
            }
        }
    }
}
.c-bottom {
    @include dFlex(center, center, 10%);
    width: 100%;
    .check-submit {
        @include dFlex(space-between, center, 20px);
        width: 100%;
        >div {
            @include dFlex(center, center, 10px);
            a {
                color: $col-dev-main;
                &:hover {
                    color: $col-des-main;
                }
            }
            >input {
                border: none;
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
        }
    }
}
form {
    @include dFlex(center, center, 20px);
    margin-top: 30px;
    width: 100%;
    flex-direction: column;

    .form-object {
        @include dFlex(center, center);
        flex-direction: column;
        width: 100%;
        flex: 1;
        >input,
        >textarea,
        >label {
            width: 100%;
        }
        >label {
            margin-bottom: 5px;
            color: $col-des-main;
        }
        >input,
        textarea {
            background-color: rgba(255, 255, 255, 0.097);
            border-radius: 2px;
            border: 1px solid white;
            color: white;
            font-size: 18px;
            padding: 10px 10px;
        }
        >textarea {
            resize: none;
        }
    }
    .form-top {
        @include dFlex(center, center, 10%);
        width: 100%;
    }
    button {
        @include dFlex(center, center);
        width: 100px;
        height: 80px;
        border-radius: 2px;
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        transition: all 0.5s ease;
        >img {
            height: 26px;
        }
        &:hover {
            cursor: pointer;
            >img {
                fill: #EE8C1B;
                transform: scale(1.04);
            }
        }
    }
}

span {
    margin-top: 20px;
    padding: 10px 20px;
    color: white;
    background-color: $col-des-main;
    border-radius: 5px;
}

.valid {
    background-color: rgba(255, 255, 255, 0.296) !important;
}

.invalid {
    background-color: rgba(225, 13, 13, 0.097) !important;
}

@media screen and (max-width: 768px) {
    .c-top {
        flex-direction: column;
        .contact-info {
            margin-top: 20px;
        }
    }
    .form-top {
        flex-direction: column;
        gap: 20px !important;
    }
    label {
        font-size: 12px;
    }
}
