@import "./../../../../assets/styles/mixins.scss";

.testimonial {
    @include dFlex(center, center);
    width: 100%;
    height: 600px;

    .testimonial-content {
        @include dFlex(center, center);
        flex-direction: column;
        text-align: center;
        z-index: 2;
        .testimonial-text {
            text-align: center;
            border-bottom: 1px solid white;
        }
    }
    >img {
        position: absolute;
        pointer-events: none;
        opacity: 0.6;
        min-height: 150%;
        z-index: 1;
    }
}

a {
    @include hoverEffect();
}

@media screen and (max-width: 768px) {
    .testimonial {
        width: 100%;
        height: 400px;
        >img {
            min-height: 100%;
        }
    }

}