@import "./../../../../assets/styles/mixins.scss";

.testimonial {
    @include dFlex(center, center);
    flex-direction: column;
    text-align: center;
 
    z-index: 2;
    .testimonial-text {
        @include dFlex(center, center, 5px);
        text-align: center;
        padding-bottom: 20px;
        border-bottom: 1px solid white;
        img.quotation-mark {
            width: 60px;
            height: 60px;
            margin: -20px 0 0 0;
        }
    }
}

a {
    @include dFlex(center, center, 8px);
    font-family: "Chillax";
    margin-top: 6px;
    width: 100%;
    >img {
        width: 20px;
        height:20px;
        object-fit: contain;
        margin-bottom: 3px;
    }
}

@media screen and (max-width: 768px) {
    .testimonial {
        width: 100%;
        >img {
            min-height: 100%;
        }
    }
}