@import './../../assets/styles/mixins.scss';
@import './../../assets/styles/colors.scss';

header {
    @include dFlex(space-between, center, 0);
    @include maxWidthPadding(0);
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    flex: 1;
    z-index: 10;

    .main-logo {
        @include dFlex(center, center, 8px);
        >img {
            width: 45px;
            background: $col-bg-main;
            border-radius: 50%;
        }
        
        .header-name {
            >p {
                filter: drop-shadow(0 0 3px $col-bg-main);
            }
            &>p:first-child {
                font-size: 18px;
                font-weight: 500;
                font-family: 'Chillax';
            }
            &>p:nth-child(2) {
                margin-top: -5px;
                font-size: 11px;
                color: lightgrey;
            }
        }
    }

    nav {
        @include dFlex(center, center, 15px);
        >a {
            font-weight: 300;
            &:hover {
                color: $col-des-main;
            }
        }
    }

    .lang-toggle {
        @include dFlex(center, center, 2px);
        background-color: rgba(0, 0, 0, 0.25);
        padding: 2px;
        border-radius: 4px;
        >button {
            border: none;
            color: $col-font-main;
            font-size: 18px;
            transition: all 0.3s ease;
            border-radius: 4px;
        }
    }

    .button-disabled {
        background-color: rgba(0, 0, 0, 0.407);
        cursor: pointer;
        &:hover {
            background-color: $col-des-main;
        }
    }

    .button-active {
        background-color: $col-dev-main;
    }
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
    cursor: pointer;
    .bar {
        width: 30px;
        height: 4px;
        border-radius: 3px;
        filter: drop-shadow(0 0 4px black);
    }
}

@media screen and (max-width: 768px) {

    .hamburger {
        display: flex;
    }

    .page-ref, .header-name {
        display: none;
    }
    .main-logo {
        >img {
            width: 35px !important;
        }
    }
}
