<header>
    <a href="" class="main-logo">
        <img src="./assets/img/header/logo.png" alt="">
        <div class="header-name white-roboto">
            <p>Patrick Frey</p>
            <p>Web-Developer</p>
        </div>
    </a>
    <nav class="white-roboto">
        @for (navItem of navBar; track navItem) {
            <a [href]="navItem.link">{{ navItem.title }}</a>
        }
        <section class="lang-toggle">
            <button 
                (click)="toggleLang('en')" 
                [disabled]="isDisabledEn()"
                [class.button-disabled]="!isDisabledEn()"
                [class.button-active]="isDisabledEn()">
            EN
            </button>
            <button 
                (click)="toggleLang('de')" 
                [disabled]="isDisabledDe()"
                [class.button-disabled]="!isDisabledDe()"
                [class.button-active]="isDisabledDe()">
            DE
            </button>
        </section>
    </nav>
</header>