<header>
    <a href="" class="main-logo">
        <img src="./assets/img/header/logo.png" alt="">
        <div class="header-name white-roboto">
            <p>Patrick Frey</p>
            <p>Web-Developer</p>
        </div>
    </a>
    <nav class="white-roboto">
        @for (navItem of navBarService.navBar; track navItem) {
            <a class="page-ref" [href]="navItem.link">{{ navItem.title }}</a>
        }
        <section class="lang-toggle">
            <button 
                (click)="toggleLang('en')" 
                [disabled]="isDisabledEn()"
                [class.button-disabled]="!isDisabledEn()"
                [class.button-active]="isDisabledEn()">
            EN
            </button>
            <button 
                (click)="toggleLang('de')" 
                [disabled]="isDisabledDe()"
                [class.button-disabled]="!isDisabledDe()"
                [class.button-active]="isDisabledDe()">
            DE
            </button>
        </section>
        <a class="hamburger" [href]="targetHref || '#'"
            (mouseenter)="hoverBurger(true)"
            (mouseleave)="hoverBurger(false)"
            (click)="navBarService.toggleSideBar(hideOnScroll)"
            >
            @for (bar of bars; track bar) {
                <div class="bar"
                [style.backgroundColor]="burgerHovered ? '#EE8C1B'  : '#4A81E0'"></div>
            }
        </a>
    </nav>
</header>
