@import './../../assets/styles/mixins.scss';

footer {
    @include dFlex(center,center);
    height: 100px;
    width: 100%;
    border-top: 1px solid white;
    background-color: $col-bg-header;
    filter: drop-shadow(0 -4px 8px rgba(0, 0, 0, 0.487));
    z-index: 10;
    .footer-content {
        @include dFlex(center,center);
        @include maxWidthPadding(0,50px);
        width: 100%;

        >p {
            flex: 1;
            // font-family: 'Patrick Hand';
            font-family: 'Barlow Semi Condensed';
            font-size: 20px;
            color: $col-font-main;
        }

        >div {
            @include dFlex(center,center, 10px);
            >a>img {
                height: 20px;
            }
        }
    }
}

a {
    @include hoverEffect();
}