@import './../../../assets/styles/mixins.scss';

.team {
    @include dFlex(center, center);
    @include maxWidthPadding(60px, 50px);
    margin: 0 auto;
    scroll-margin-top: 30px;
    max-height: 1200px;
    overflow: hidden;
    h3 {
        white-space: wrap;
        margin-bottom: 20px;
    }
}

.team-container {
    @include dFlex(center, center);
    width: 100%;
    flex-direction: column;
}

a {
    @include dFlex(center, center, 8px);
    font-family: "Chillax";
    padding-top: 6px;
    border-top: 1px solid white;
    width: 100%;
    >img {
        width: 20px;
        height:20px;
        object-fit: contain;
        margin-bottom: 3px;
    }
}

.member-wrapper {
    position: relative;
    height: 300px;
    overflow: hidden;
    width: 100%;

    &:hover .member-track {
        animation-play-state: paused;
    }

    mask-image: linear-gradient(to bottom,
                transparent 0%,
                rgba(0, 0, 0, 1) 20%,
                rgba(0, 0, 0, 1) 80%,
                transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom,
            transparent 0%,
            rgba(0, 0, 0, 1) 20%,
            rgba(0, 0, 0, 1) 80%,
            transparent 100%);

    .member-track {
        @include dFlex(center, center, 10px, absolute);
        flex-direction: column;
        left: 50%;
        width: 100%;
        max-width: 500px;
        height: calc(4 * 190px);
        animation: scrollUp 36s linear infinite;
        span {
            @include dFlex(center, center, 5px);
            flex-direction: column;
            text-align: center;
            color: white;
            width: 100%;
            min-height: 180px;
            overflow: hidden;
            padding: 10px;
        }
        span:first-child {
            margin-top: 10px;
        }
    }
}

.track2 {
    top: 760px;
}

@keyframes scrollUp {
    0%   { transform: translateY(0) translateX(-50%); }
    100% { transform: translateY(-100%) translateX(-50%); }
}

figure {
    aspect-ratio: 1/1;
    height: clamp(200px, 50vw, 600px);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    mask-image: url('../../../assets/img/team/teamwork_mask.png');
    mask-size: contain;
    mask-position: right;
    animation: imageSwap 10s infinite ease-in-out;
}

@keyframes imageSwap {
    0% {
        background-image: url('../../../assets/img/team/teamwork.jpg');
    }
    50% {
        background-image: url('../../../assets/img/team/teamwork_comic.jpg');
    }
    100% {
        background-image: url('../../../assets/img/team/teamwork.jpg');
    }
}

@media screen and (max-width: 768px) {
    .team {
        flex-direction: column-reverse;
    }
    figure {
        aspect-ratio: 1/1;
        height: clamp(200px, 90vw, 600px);
        background-position: center;
        mask-position: center;
        margin-bottom: 30px;
    }
}

