@import './../../../assets/styles/mixins.scss';

.team {
    @include dFlex(center, center);
    flex-direction: column;
    overflow-x: clip;
    .team-container {
        @include dFlex(center, center, 10%);
        max-width: 1200px;
        width: 100%;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    .team-container {
        flex-direction: column;
    }
}

