<section class="team">
    <section class="team-container">
        <h3
            data-aos="fade-zoom-in"
            data-aos-easing="ease-in-back"
            data-aos-offset="0"
        >
            {{ languages.getTranslation('team', 'title') }}
        </h3>
        <div class="member-wrapper">
            <div class="member-track">
                @for (member of teamMembers(); track member; let index=$index) {
                <span>
                    {{ languages.getProjectTestimonial('member'+ (index + 1)) }}
                    <a href="{{ member.profile }}" target="_blank">
                        {{ member.name }} |
                        <img src="./assets/img/social/linkedin.svg" alt="">
                    </a>
                </span>
                }
            </div>
            <div class="member-track track2">
                @for (member of teamMembers(); track member; let index=$index) {
                <span>
                    {{ languages.getProjectTestimonial('member'+ (index + 1)) }}
                    <a href="{{ member.profile }}" target="_blank">
                        {{ member.name }} |
                        <img src="./assets/img/social/linkedin.svg" alt="">
                    </a>
                </span>
                } 
            </div>
        </div>
    </section>
    <figure></figure>
</section>

<!-- @for (member of teamMembers(); track member; let index=$index) {
    <app-testimonial [testimonial]="teamMembers()[index]"></app-testimonial>
} -->

