<section class="projects">
    <h3>{{ projectsTitle }}</h3>
    <div class="projects-container">
        <img 
        (mouseover)="isHovered = true"  (mouseleave)="isHovered = false"
        class="project-frame" src="./assets/img/projects/bg_projects.png" alt="">
        <app-project-card [cardNumber]="currentNumber()" [isHovered]="isHovered"></app-project-card>
    </div>
    <div class="project-counter">
        @for (project of projectData; track project; let index = $index) {
            <div [id]="index" (click)="this.setCardNumber(index)" class="count-dot"></div>
        }
    </div>
</section>

