@import './../../../assets/styles/mixins.scss';

.projects {
    @include dFlex(flex-start, center);
    @include maxWidthPadding(60px, 50px);
    margin: 0 auto;
    scroll-margin-top: 30px;
    flex-direction: column;
    height: 100vh;
    max-height: 1200px;
    overflow: hidden;
}

.project-counter {
    @include dFlex(space-between, center);
    position: absolute;
    width: 85%;
    >button {
        all: unset;
        cursor: pointer;
        background-image: url('../../../assets/img/projects/arrow.svg');
        background-size: contain;
        background-repeat: no-repeat;
        aspect-ratio: 1/1;
        width: 65px;
        opacity: 0.3;
        transition: all 0.3s ease;
        z-index: 5;
        &:hover {
            opacity: 1;
            transform: scale(0.9);
        }
    }
    .prev {
        transform: scaleX(-1);
        &:hover {
            opacity: 1;
            transform: scaleX(-0.9) scaleY(0.9);
        }
    }
}

app-project-card, .device {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
}

.projects-container {
    @include dFlex(center, center);
    position: relative;
    width: 100%;
    height: clamp(300px, 40vw, 600px);
    >img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .mask-wrapper {
        width: 100%;
        height: 100%;
        mask-image: url('../../../assets/img/skills/skills-mask.png');
        mask-repeat: no-repeat;
        mask-position: center;          
        mask-size: contain;
    }
}

app-project-info {
    @include dFlex(center, center, 14px);
    position: relative;
    flex-direction: column;
    width: 100%;
    margin: 0 60px;
    transition: all 0.7s ease;
    margin-top: 20px;
}

.timeline-container {
    width: 100%;
    margin: 0 60px;
    bottom: clamp(-52px, 2vw, -42px);

    span {
        @include dFlex(space-between, flex-end);
        .current {
            display: flex;
            gap: 10px;
        }
    }
    
    .timeline {
        position: relative;
        margin-top: 6px;
        height: 1px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.818);
        .timeline-progress {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1px;
            background-color: $col-dev-main;
        }
    }
}

.slide-in-project {
    transform: translateX(100%);
    animation: slideInProject 0.7s forwards ease-in-out;
    z-index: 3;
}

.slide-out-project {
    transform: translateX(0);
    animation: slideOutProject 0.7s forwards ease-in-out;
    z-index: 1;
}

.slide-in {
    transform: translateX(100%);
    animation: slideIn 0.7s forwards ease-in-out;
    z-index: 2;
}

.slide-out {
    transform: translateX(0);
    animation: slideOut 0.7s forwards ease-in-out;
    z-index: 1;
}

.fade-in {
    animation: fadeIn 0.7s forwards ease-in-out;
}
.fade-out {
    animation: fadeOut 0.7s forwards ease-in-out;
}

@keyframes slideIn {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes slideInProject {
  0% { transform: translateX(-100%); opacity: 0; }
  50% { opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}

@keyframes slideOutProject {
  0% { transform: translateX(0); opacity: 1; }
  35% { opacity: 0 }
  100% { transform: translateX(-100%); opacity: 0  }
}

@keyframes slideOut {
  from { transform: translateX(0); opacity: 1; }
  to { transform: translateX(-100%); opacity: 0.3; }
}

@keyframes fadeIn {
    from {opacity: 0; filter: blur(5px)}
    to {opacity: 1; filter: blur(0px)}
}

@keyframes fadeOut {
    from {opacity: 1; filter: blur(0px)}
    to {opacity: 0; filter: blur(5px)}
}

@media screen and (max-width: 768px) {

    .project-counter {
        margin: 45px 0 80px 0;
    }
}