<section class="projects"  id="aProjects" (mouseleave)="isHovered = false">
    <h3
        data-aos="fade-up"
        data-aos-easing="ease-in-back"
    >
        {{ projectsTitle }}
    </h3>
    <div
        class="projects-container"
        data-aos="fade-up"
        data-aos-easing="ease-in-back"
        data-aos-offset="100">
        @if (isSliding) {
            <app-project-card
                class="slide-out"
                [cardNumber]="previousNumber"
                [isHovered]="isHovered"
                (hoverState)="handleHoverState($event)">
            </app-project-card>

            <app-project-card 
                class="slide-in"
                [cardNumber]="currentNumber()"
                [isHovered]="isHovered"
                (hoverState)="handleHoverState($event)">
            </app-project-card>
        } @else {
            <app-project-card 
                [cardNumber]="currentNumber()"
                [isHovered]="isHovered"
                (hoverState)="handleHoverState($event)">
            </app-project-card>
        }
    </div>
    <div class="project-counter">
        @for (project of projectData; track project; let index = $index) {
            <div
            class="count-dot"
            (click)="this.setCardNumber(index)"
            [id]="index" 
            [class.active]="index === currentNumber()"></div>
            <!-- if Index === current Nummer => set class active -->
        }
    </div>
</section>



