@import './../../../assets/styles/mixins.scss';

.projects {
    @include dFlex(center, center);
    flex-direction: column;
    background-color: rgba(0, 0, 255, 0);
}

.projects-container {
    @include dFlex(center, center);
    width: 100%;
    >img {
        width: 100%;
        max-width: 1240px;
        aspect-ratio: 16/10;
        z-index: 1;
        filter: drop-shadow(0 0 50px $col-bg-main);
    }
}

.project-counter {
    @include dFlex(center, center, 10px);
    margin-bottom: 80px;
    z-index: 5;
    .count-dot {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.518);
        &:hover {
            background-color: $col-des-main;
            cursor: pointer;
        }
    }
    .count-dot.active {
        background-color: white;
    }
}