<section class="projects"  id="aProjects" (mouseleave)="isHovered = false">
    <h3
        data-aos="fade-up"
        data-aos-easing="ease-in-back"
    >
        {{ projectsTitle }}
    </h3>
    <div
        class="projects-container"
        data-aos="fade-up"
        data-aos-easing="ease-in-back"
        data-aos-offset="100"
        (mouseenter)="handleHoverState(true)"
        (mouseleave)="handleHoverState(false)"
        >
        <section class="project-infos">
            <app-project-info
                [cardNumber]="previousNumber"
                [class]="isSliding? 'fade-out':'fade-in'">
            </app-project-info>
        </section>

        @if (isSliding) {
            <app-project-card
                class="slide-out"
                [cardNumber]="previousNumber">
            </app-project-card>

            <app-project-card 
                class="slide-in"
                [cardNumber]="currentNumber()">
            </app-project-card>
        } @else {
            <img class="slide-in-reverse device" [src]="projectData[currentNumber()].appImg" alt="">
            <app-project-card 
                [cardNumber]="currentNumber()"
                >
            </app-project-card>
        }
    </div>
    <div class="project-counter">
        <div class="next-previous">
            <button (click)="prevProject()" >prev</button>
            <div class="timeline-container">
                <div class="timeline" [style.width]="timeLineWidth() + '%'"></div>
            </div>
            <button (click)="nextProject()">next</button>
        </div>
    </div>

</section>



