@import './../../../assets/styles/mixins.scss';

.projects {
    @include dFlex(center, center);
    flex-direction: column;
    background-color: rgba(0, 0, 255, 0);
    scroll-margin-top: 90px;
    margin: 0 50px;
}

.projects-container {
    @include dFlex(center, center);
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1380px;
    border-radius: 16px;
    aspect-ratio: 16/9;

    app-project-card, .device {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
    }

    .slide-in {
        transform: translateX(100%);
        animation: slideIn 0.7s forwards ease-in-out;
        z-index: 2;
    }

    .slide-out {
        transform: translateX(0);
        animation: slideOut 0.7s forwards ease-in-out;
        z-index: 1;
    }

    .fade-in {
        animation: fadeIn 0.7s forwards ease-in-out;
    }
    .fade-out {
        animation: fadeOut 0.7s forwards ease-in-out;
    }
}

.slide-in-reverse {
    transform: translateX(100%);
    animation: slideInReverse 0.7s forwards ease-in-out;
    z-index: 3;
}


.project-infos {
    @include dFlex(center, flex-start, 10%, absolute);
    @include glass-dark-blue();
    overflow: hidden;
    padding: 20px;
    z-index: 3;
    left: 20px;
    height: calc(100% - 40px);
    width: clamp(200px, 40%, 400px);
    // mask-image: url('../../../assets/img/about/mask_project.png');
    // mask-repeat: no-repeat;
    // mask-position: center;          
    // mask-size: contain; 
}

.project-counter {
    @include dFlex(center, center, 14px);
    margin: 10px 0 80px 0;
    width: clamp(200px, 100%, 1380px);
    max-width: 1380px;
    z-index: 5;

    .next-previous {
        @include dFlex(space-between, center);
        width: 100%;
        gap: 30px;
        .timeline-container {
            position: relative;
            width: 400px;
            height: 3px;
            background-color: rgba(255, 255, 255, 0.265);
            .timeline {
                position: absolute;
                height: 100%;
                background-color: $col-des-main;
            }
        }
    }
}

@keyframes slideIn {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes slideInReverse {
  from { transform: translateX(-100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes slideOut {
  from { transform: translateX(0); opacity: 1; }
  to { transform: translateX(-100%); opacity: 0.3; }
}

@keyframes fadeIn {
    from {opacity: 0; filter: blur(15px)}
    to {opacity: 1; filter: blur(0px)}
}

@keyframes fadeOut {
    from {opacity: 1; filter: blur(0px)}
    to {opacity: 0; filter: blur(15px)}
}

@media screen and (max-width: 768px) {
    .projects-container {
        aspect-ratio: 10/16;
        max-height: 80vh;
        max-width: 400px;
    }
    .project-counter {
        margin: 45px 0 80px 0;
    }
}