@import './../../../assets/styles/mixins.scss';

.about-title {
    @include dFlex(flex-start, center);
    width: 100%;
}

.contact-ref {
    @include dFlex(center, flex-end, 12px, relative);
    border-top: 1px solid white;
    margin-top: 14px;
    height: 45px;
    >a>img {
        height: 20px;
    }
}

.about {
    @include dFlex(center, space-between);
    @include maxWidthPadding(60px, 50px);
    margin: 0 auto;
    scroll-margin-top: 100vh;
    height: 100vh;
    max-height: 900px;
    overflow: hidden;
    .about-left {
        width: clamp(300px, 45vw, 700px);
        background-size: cover;
        background-position: center bottom;
        height: 100%;
        mask-image: url('../../../assets/img/about/mask_hero.png');
        mask-repeat: no-repeat;
        mask-position: left;          
        mask-size: contain;
        animation: imageSwap 10s infinite ease-in-out;
    }

    .about-right {
        @include dFlex(center, center, 5px);
        width: 50%;
        height: 100%;
        flex-direction: column;
        section {
            min-height: 300px;
            overflow-wrap: break-word;
            word-wrap: break-word;
            text-align: center;
            p {
                margin-top: 10px;
            }
        }
    }
}


.about-info {
    @include dFlex(space-evenly, center, 0);
    flex-wrap: wrap;
    margin-top: 30px;
    .hover {
        cursor: pointer;
        &:hover {
            transform: scale(0.95);
        }
    }
    figure {
        @include dFlex(center, center, 3px);
        white-space: nowrap;

        img {
            height: 30px;
        }
        figcaption,a {
            font-size: 12px !important;
        }
    }
}

@keyframes imageSwap {
    0% {
        background-image: 
            url('../../../assets/img/about/hero_about.jpg');
    }
    50% {
        background-image:
            url('../../../assets/img/about/hero_about-comic.jpg');
    }
    100% {
        background-image:  
            url('../../../assets/img/about/hero_about.jpg');
    }
}


@media screen and (max-width: 900px) {
    .about {
        @include dFlex(center, center);
        flex-direction: column;
        height: 100%;
        max-height: auto;
        .about-left {
            height: 100%;
            aspect-ratio: 1/1;
            mask-position: center;  
        }

        .about-right {
            width: 100%;
        }
    }
    .about-info {
        margin-top: 14px;
    }
}
