<section class="about" id="aAbout">
    <div class="about-title">
        <h3
            data-aos="fade-zoom-in"
            data-aos-easing="ease-in-back"
            data-aos-offset="0"
        >
            {{ aboutTitle }}
        </h3>
        <nav class="contact-ref">
            @for (ref of socialReference.socialRefs; let i = $index; track ref.title) {
                @if (i < 2) {
                    <a [href]="ref.url" target="_blank"><img [src]='ref.imgSource' [alt]='ref.title'></a>
                } @else if (i == 2) {
                    <a [href]="'mailto:' + ref.url" target="_blank"><img [src]='ref.imgSource' [alt]='ref.title'></a>
                } 
            }
        </nav>
    </div>
    <div class="about-content">
        <div data-aos="fade-right" class="about-left"></div>
        <div data-aos="fade-left" class="about-right">
            <p> {{ aboutText }} </p>
            <div data-aos="fade-right" class="about-info">
                @for (item of aboutItems; track $index) {
                    @if ($index == 2) {
                        <figure>
                            <a href="#aContact"
                            [style.]>
                                <img [src]="item.img">
                                <figcaption [innerHTML]="currentLang == 'en' ? item.textEn : item.textDe"></figcaption>
                            </a>
                        </figure>
                    } @else {
                        <figure>
                            <img [src]="item.img">
                            <figcaption [innerHTML]="currentLang == 'en' ? item.textEn : item.textDe"></figcaption>
                        </figure>
                    }
                }
            </div>
        </div>
    </div>
</section>

