<section class="about">
    <div class="about-title">
        <h2>{{ aboutTitle }}</h2>
        <nav class="contact-ref">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </nav>
    </div>
    <div class="about-content white-roboto">
        <div class="about-left">
            <figure>
                <img src="./assets/img/about/location.svg" alt="The beautiful MDN logo." />
                <figcaption>MDN Logo</figcaption>
            </figure>
            <figure>
                <img src="./assets/img/about/remote.svg" alt="The beautiful MDN logo." />
                <figcaption>MDN Logo</figcaption>
            </figure>
            <figure>
                <img src="./assets/img/about/intouch.svg" alt="The beautiful MDN logo." />
                <figcaption>MDN Logo</figcaption>
            </figure>
        </div>
        <div class="about-right">
            <p> {{ aboutText }} </p>
        </div>
    </div>
</section>

