@import './../../../assets/styles/mixins.scss';

.about {
    @include dFlex(center, center);
    flex-direction: column;
    max-width: 1480px;
    padding: 0 20px;
    margin: 70px auto;

    .about-title {
        @include dFlex(center, center);
        width: 100%;

        .contact-ref {
            @include dFlex(center, center, 12px, absolute);
            right: 0;
            top: 0;
        }
    }

    .about-content {
        @include dFlex(center, center, 10%);
        .about-left,
        .about-right {
            flex: 1;
        }

        .about-left {
            @include dFlex(space-between, flex-end);

            >figure {
                >img {
                    height: 80px;
                }
                @include dFlex(center, center, 5px);
                flex-direction: column;
                text-align: center;
            }
        }

        .about-right {
            min-width: 120px;  
            max-width: 50%;
            text-align: justify;
        
            > p {
                overflow-wrap: break-word;
                word-wrap: break-word;
            }
        }
    }

}