@import './../../../assets/styles/colors.scss';
@import './../../../assets/styles/mixins.scss';

.hero {
    @include dFlex(center, stretch);
    scroll-margin-top: -65px;
    margin-top: 200vh;
    height: 100vh;
    z-index: 2;
    background: linear-gradient(to top, $col-bg-main 55%, transparent);
    overflow: clip;
}

.hero-img-container {
    width: 100%;
    overflow: hidden;

    .hero-img {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        width: 100%;
        max-height: 800px;
        max-width: 1300px;
        min-width: 300px;
        object-fit: contain;
        object-position: bottom;
        transition: clip-path 0.3s ease-out, transform 0.3s ease-out;
    }

    .hero-img-left {
        clip-path: inset(0 50% 0 0);
        filter: drop-shadow(0 0 10px $col-dev-main);
    }

    .hero-img-right {
        clip-path: inset(0 0 0 50%);
    }

    img{
        pointer-events: none;
    }

    .dev-text {
        
    }
}