@import './../../../assets/styles/colors.scss';
@import './../../../assets/styles/mixins.scss';

.hero {
    @include dFlex(center, stretch);
    margin-top: 200vh;
    height: 100vh;
    z-index: 4;
    background: linear-gradient(to top, $col-bg-main 55%, transparent);
    overflow: hidden;
}

.hero-img-container {
    width: 100%;
    overflow: hidden;
    cursor: ew-resize;

    .hero-img {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-height: 800px;
        max-width: 1300px;
        min-width: 300px;
        object-fit: contain;
        object-position: bottom;
        transition: transform 0.3s linear, clip-path 1.2s linear;
    }

    .hero-img-left {
        clip-path: inset(0 50% 0 0);
        filter: drop-shadow(0 0 10px $col-dev-main);
    }

    .hero-img-right {
        clip-path: inset(0 0 0 50%);
    }

    img{
        pointer-events: none;
    }

    %text-box {
        @include dFlex(center, center, 30px);
        flex-direction: column;
        color: white;
        width: 20%;
        max-width: 240px;
        position: absolute;
        bottom: 20px;
        transition: opacity 0.5s ease-out, transform 0.3s ease-out;
        filter: drop-shadow(0 0 15px black);
        transform: translateX(-50%);
        text-align: center;
        h4 {
            font-size: 80px;
        }
    }
    
    .dev-text {
        @extend %text-box;
        left: 50%;
    
        .title-dev {
            color: $col-dev-main;
        }
    }
    
    .des-text {
        @extend %text-box;
        right: 50%;
        transform: translateX(50%);

    
        .title-des {
            color: $col-des-main;
        }
    }
}