@import './../../../../assets/styles/mixins.scss';


.skill-row {
    @include dFlex(center, center, 0px);
    .skill {
        transition: all 0.2s linear;
        cursor: pointer;
        padding: 5px 10px;
                    transform-origin: bottom;
        >img {
            opacity: 0.5;
            aspect-ratio: 1/1;
            width: clamp(20px, 5vw, 50px);
        }
        &:hover {
            img {
                opacity: 1;
                filter: invert(52%) sepia(84%) saturate(400%) hue-rotate(349deg) brightness(120%) contrast(101%);
            }
        }
        >p {
            position: absolute;
            transition: all 1s ease;
            bottom: calc(95% + 5px);
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            font-size: 10px;
            line-height: 1;
        }
    }
}

.show-title {
    opacity: 1;
}

.hide-title {
    opacity: 0;
}

@media screen and (max-width: 500px) {
    .skill {
        padding: 5px 5px !important;
    }
}

@media screen and (max-width: 400px) {
    .skill {
        padding: 5px 3px !important;
    }
}
