@import './../../../../assets/styles/mixins.scss';


.skill-row {
    @include dFlex(center, center, 0px);
    .skill {
        transition: all 0.2s linear;
        cursor: pointer;
        padding: 5px 10px;
        >img {
            aspect-ratio: 1/1;
            width: clamp(20px, 5vw, 50px);
        }
        &:hover {
            img {
                filter: invert(52%) sepia(84%) saturate(500%) hue-rotate(359deg) brightness(96%) contrast(101%);
            }
        }
        >p {
            position: absolute;
            transition: all 1s ease;
            bottom: calc(95% + 5px);
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            font-size: 10px;
            line-height: 1;
        }
    }
}

.show-title {
    opacity: 1;
}

.hide-title {
    opacity: 0;
}

