@import './../../../../assets/styles/mixins.scss';

.single-project {
    @include dFlex(center, center, 0, absolute);
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.95;
    height: 100%;
    width: 100%;
    max-width: 1240px;
    top: 0;

    .project-infos {
        @include dFlex(center, flex-end, 10%, absolute);
        padding: 50% 10% 40px 10%;
        z-index: 3;
        background: linear-gradient(to top, #171e29, transparent);
        bottom: 0;
        width: 100%;
        transition: all 0.6s ease;
        transform-origin: bottom;
        z-index: 99;

        .tools-container {
            @include dFlex(space-between, flex-start, 10px);
            width: 100%;
            .project-tools {
                @include dFlex(flex-start, center, 5px);
                flex-wrap: wrap;
                >img {
                    height: 30px;
                    filter: drop-shadow(0 0 2px black);
                }
            }
        }

        .info-container {
            @include dFlex(flex-end, flex-start, 10px);
            flex-direction: column;
            max-width: 500px;
            color: white;

            .project-title {
                @include dFlex(space-between, flex-end);
                width: 100%;
                >p {
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 24px;
                }
                .project-ref {
                    @include dFlex(center, center, 10px);
                    >a {
                        height: 28px;
                        @include hoverEffect();
                        >img{
                            height: 100%;
                        }
                    }
                }
            }
            >p {
                text-align: justify;
            }
        }
    }
    
    .bg-project {
        height: 100%;
        width: 100%;
        object-fit: fill;
        z-index: 0;
    }
}

.show-info {
    display: none;
    width: 30px;
    height: 30px;
    bottom: -10px;
    font-size: 24px;
    line-height: 24px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    color: white;
    z-index: 4;
    border-radius: 5px;
    filter: drop-shadow(0 0 7px $col-bg-main);
    &:hover {
        cursor: pointer;
    }
}

@media (pointer: coarse) {
    .show-info {
        @include dFlex(center, center, 0, absolute);
    }
}

@media screen and (max-width: 770px) {
    .bg-project {
        object-fit: cover !important;
        overflow: hidden !important;
        height: 100% !important;
        background-repeat: no-repeat !important;
        object-position: center 0% !important;
        object-position: center;
    }
}
