@import './../../../../assets/styles/mixins.scss';

.single-project {
    @include dFlex(center, center, 0, absolute);
    left: 0;
    opacity: 0.95;
    height: 100%;
    width: 100%;
    top: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    mask-image: url('../../../../assets/img/skills/skills-mask.png');
    mask-repeat: no-repeat;
    mask-position: center;          
    mask-size: contain;
    filter: brightness(1.4) contrast(1.1);
    cursor: pointer;
}
