@import './../../../../assets/styles/mixins.scss';

.single-project {
    opacity: 0.95;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    mask-image: url('../../../../assets/img/projects/projects_mask.png');
    mask-repeat: no-repeat;
    mask-position: center;          
    mask-size: contain;
    mask-origin: content-box;
    mask-clip: content-box;

    filter: brightness(1.4) contrast(1.1);
    cursor: pointer;
}
