@import './../../../../assets/styles/mixins.scss';

.single-project {
    @include dFlex(center, center, 0, absolute);
    left: 0;
    opacity: 0.95;
    height: 100%;
    width: 100%;
    top: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    filter: brightness(1.4) contrast(1.1);
    cursor: pointer;
}
