<section class="landing-page">
    <header class="header">
        <app-header></app-header>
    </header>
    <div class="intro-message">
        <h1>{{ welcomeLanding }}</h1>
        <h2 [innerHTML]="title"></h2>
    </div>
    <div class="welcome-overlay col-bg-main" [style]="{ height: onScroll() + 'px' }">
        <p class="welcome-title"
            [style]="{
                fontSize: setFontSize(),
                opacity: setFontOpacity()
            }">
            {{ welcomeHero }}
        </p>
    </div>
</section>