<header class="header">
    <app-header></app-header>
</header>
<section class="landing-page">
    <div class="intro-message">
        <h1>{{ welcomeLanding }}</h1>
        <h2 [innerHTML]="title"></h2>
    </div>
    <div class="welcome-overlay col-bg-main" [style]="{ height: onScroll() + 'px' }">
        <div class="welcome-title"
            [style]="{
                fontSize: setFontSize(),
                opacity: setFontOpacity()
            }">
            {{ welcomeHero }}
        </div>
    </div>
    <div class="scroll-down">
        <div class="scroll-wheel"></div>
    </div>
</section>
<app-side-bar class="no-interact" [position] = "'fixed'"></app-side-bar>