@import './../../../assets/styles/mixins.scss';
@import './../../../assets/styles/colors.scss';

.header {
    @include header(fixed);
    border-bottom: 1px solid $col-bg-main;
}

.landing-page {
    @include dFlex(center, center, 0, fixed);
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 0;
    width: 100%;
    background-color: white;

    .welcome-overlay {
        @include dFlex(center, center, 0, absolute);
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        opacity: 1;
        z-index: 2;
        overflow: hidden;
    }
}

