@import './../../../assets/styles/mixins.scss';
@import './../../../assets/styles/colors.scss';

.header {
    @include header(absolute);
    filter: drop-shadow(0 3px 8px rgba(7, 22, 41, 0.793));
    z-index: 9;
}

.landing-page {
    @include dFlex(center, center, 0, fixed);
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 0;
    width: 100%;
    background-image: 
        linear-gradient(90deg, rgb(119, 167, 251) 0%, rgba(230, 114, 25, 1) 67%, rgb(255, 163, 35) 100%),
        url('../../../assets/img/portfolio_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:overlay;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-image: url('/assets/img/noise.jpg');
        opacity: 0.3;
        mix-blend-mode: overlay;
        pointer-events: none;
    }

    .welcome-overlay {
        @include dFlex(center, center, 0, absolute);
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        z-index: 3;
        text-align: center;
        overflow: hidden;

        .welcome-title {
            color: $col-font-main;
            font-family: 'Chillax';
            letter-spacing: 4px;
            width: 100%;
            overflow: hidden;
            transition: all 1s ease;
        }
    }
}

.intro-message {
    @include dFlex(center, center, 0.5vw);
    flex-wrap: wrap-reverse;
    width: 100%;
    padding: 0 40px;
    .wrapper {
        @include dFlex(center, center, 0);
        flex-direction: column;
        z-index: 2;
    }
    .bfont {
        white-space: nowrap;
        font-size: clamp(16px, 5vw, 38px);
        >span:nth-child(2) {
            color: white;
        }
    }
    .animated-logo {
        transform: translateX(10px) scale(1);
    }
}

.scroll-down {
    @include dFlex(center, flex-start, 0, absolute);
    bottom: 20px;
    height: 60px;
    width: 40px;
    border-radius: 20px;
    background-color: $col-font-main;
    filter: drop-shadow(1px 3px 5px $col-bg-main);
    .scroll-wheel {
        width: 5px;
        height: 22px;
        border-radius: 5px;
        background-color: $col-des-main;
        animation: wheelAnimation 3s infinite ease;
    }
}

@keyframes wheelAnimation {

    0% {
        margin-top: 2px;
        opacity: 0;
        height: 21px;
    }
    50% {
        margin-top: 7px;
        opacity: 1;
        height: 22px;
    }
    80% {
        margin-top: 2px;
        opacity: 0;
        height: 21px;
    }
    100% {
        margin-top: 2px;
        opacity: 0;
        height: 21px;
    }
}

@media screen and (max-width: 520px) {
    // .intro-message {
    //     h1 {
    //         font-size: 40px;
    //     };
    //     h2 {
    //         font-size: 26px;
    //     }
    // }
    .animated-logo {
        transform: translateY(20px) scale(0.8) !important;
    }
}

@media screen and (max-width: 425px) {
    // .intro-message {
    //     padding: 0 10px;
    //     h1 {
    //         font-size: 30px;
    //     };
    //     h2 {
    //         font-size: 21px;
    //     }
    // }
}
