<section class="side-menu"
    [style.transform]="navBarService.showSideBar === false ? 'scaleY(0)' : 'scaleY(1)'"
    [style.transform-origin]="'top'"
    [style.position]="position">
    
    <div 
        [style.transform]="navBarService.showSideBar === false ? 'scaleY(0)' : 'scaleY(1)'"
        [style.transform-origin]="'top'"
        [style.padding-top]="positionY + 'px'"
        (mouseleave)="leavingSideBar()">
        
        @for (navItem of navBarService.navBar; track navItem) {
            <a (click)="leavingSideBar()" class="side-menu-ref" [href]="navItem.link">
                {{ currentLang == 'en' ? navItem.titleEn : navItem.titleDe }}
            </a>
        }
    </div>
    <section class="bg-img">
        <img src="./assets/img/team/comment1.png" alt="">
        <img src="./assets/img/team/comment2.png" alt="">
    </section>
</section>
