<section class="skills" id="aSkills">
    
    <section class="skill-top">
        <div data-aos="fade-up" data-aos-offset="200" class="skill-title">
            <h3 >Skills</h3>
            <p>{{skillText}}</p>
            <div class="dashboard">
                @for (chart of softSkills; track chart) {
                    <app-chart [chart]="chart"></app-chart>
                }
            </div>
        </div>
        <figure
            data-aos="fade-up"
            data-aos-offset="200"
            class="skills-bg">
        </figure>
    </section>

    <section
        class="skills-collection"
        data-aos="fade-down"
        data-aos-offset="100"
        (mouseenter)="stopAnimation()"
        (mouseleave)="this.showMindset ? stopAnimation() : startAnimation()">

        @if (!showMindset) {
            @if (isSliding) {
                <app-skill-bar class="slide-out" [skills]="allSkills[previousNumber]"></app-skill-bar>
                <app-skill-bar class="slide-in" [skills]="allSkills[currentSkillCategory()]"></app-skill-bar>
            } @else {
                <app-skill-bar [skills]="allSkills[currentSkillCategory()]"></app-skill-bar>
            }
        } @else {
            <div class="mindset" [class]="leaveMindset ? 'slide-out':'slide-in'">
                <img src="./assets/img/skills/mindset.svg" alt="">
                <span class="mindset-text">
                    <h6 class="mindset-title">{{ mindsetTitle }}</h6>
                    <p [innerHTML]="mindsetText"></p>
                </span>
            </div>
        }
        <div class="select-category">
            @for (skill of skillCategories; track skill; let index=$index) {
                @if (skill.toLowerCase() != "mindset") {
                    <input type="radio" name="skill" [id]="'skill'+index" [checked]="currentSkillCategory() === index">
                    <label (click)="setSkillCategory(index); stopAnimation()" [for]="'skill'+index">{{skill}}</label>
                } @else {
                    <p class="hide-mobile">|</p>
                    <input type="radio" name="skill" [id]="'skill'+index" [checked]="currentSkillCategory() === index">
                    <label class="mindset-label" (click)="selectMindset()" [for]="'skill'+index" >{{skill}}</label>
                }
            }
        </div>
    </section>

</section>

