@import './../../../assets/styles/mixins.scss';
@import './../../../assets/styles/colors.scss';

.skills {
    @include dFlex(center, center);
    @include maxWidthPadding(80px, 0, 0);
    margin: 0 auto;
    scroll-margin-top: 30px;
    flex-direction: column;
}

.skill-container {
    @include dFlex(center, flex-start, 10%);
    max-width: 1200px;
    padding: 0 50px;
    overflow: hidden;

    .bg-skills {
        position: absolute;
        opacity: 0.3;
        height: 100%;
        z-index: 1;
        >img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .skills-des,
    .skills-dev {
        flex-wrap: wrap;
        z-index: 2;
        flex: 1;
        .skill {
            @include dFlex(center, center, 12px);
            flex-direction: column;
            width: 25%;
            color: white;
            font-family: 'Roboto';
            filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.731));
            >img {
                height: 6vw;
                min-height: 40px;
                max-height: 75px;
            }
            >p {
                height: 50px;
                text-align: center;
            }
        }
    }

    .skills-dev {
        @include dFlex(flex-end, flex-start, 40px);
    }

    .skills-des {
        @include dFlex(flex-start, flex-start, 40px);
    }
}

@media screen and (max-width: 768px) {
    p {
        font-size: 15px;
        line-height: 18px;
    }

    .skills-dev,
    .skills-des {
        gap: 20px !important;
        min-width: 100%;
    }

    .skill-container {
        gap: 14% !important;
    }
}

@media screen and (max-width: 400px) {
    p {
        font-size: 12px;
        line-height: 14px;
    }
}