@import './../../../assets/styles/mixins.scss';
@import './../../../assets/styles/colors.scss';
@import './../../../assets/styles/colors.scss';

.skills {
    @include dFlex(flex-start, flex-start);
    @include maxWidthPadding(60px, 50px);
    margin: 0 auto;
    scroll-margin-top: 120px;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.skill-top {
    @include dFlex(space-between, center, 20px);
    height: clamp(300px, 25vw, 400px);
    .skills-bg {
        aspect-ratio: 1/1;
        width: 50%;
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
        mask-image: url('../../../assets/img/skills/skills-mask.png');
        mask-repeat: no-repeat;
        mask-position: right;          
        mask-size: contain;
        mask-origin: content-box;
        mask-clip: content-box;
        animation: imageSwap 10s infinite ease-in-out;
        filter: brightness(1.4) contrast(1.1);
    }
}

.skill-title {
    @include dFlex(center, center, 20px);
    flex-direction: column;
    width: 40%;
    text-align: center;
    .dashboard {
        display: flex;
        gap: 30px;
    }
}

.skills-collection {
    @include dFlex(center, center, 0);
    margin: clamp(120px, 15vw, 180px) 0 40px 0;
    flex-direction: column;
    width: 100%;

    app-skill-bar,
    .mindset {
        position: absolute;
        bottom: 100%;
    }

    .select-category{
        @include dFlex(center, center, 25px);
        width: 100%;
        border-top: 1px solid white;
        margin-top: 5px;
        padding-top: 4px;

        input { display: none }
        label {
            font-family: 'Chillax', sans-serif;
            cursor: pointer;
            padding: 5px 0;
            color: white;
            transition: all 0.2s;
            border-bottom: 1px solid transparent;
            &:hover {
                color: $col-des-main;
            }
        }
        
        .mindset-label {
            font-family: 'Satoshi', sans-serif;
            color: #7fa6e8;
            &:hover {
                color: $col-dev-main;
            }
        }
        input:checked + label {
            border-bottom: 1px solid $col-des-main;
        }
        input:checked + .mindset-label {
            color: white;
            border-bottom: 1px solid $col-dev-main;
        }
    }
}

.slide-in {
    transform-origin: bottom;
    animation: slideIn 0.7s forwards ease-in-out;
    z-index: 2;
}

.slide-out {
    transform-origin: bottom;
    animation: slideOut 0.7s forwards ease-in-out;
    z-index: 1;
}

@keyframes slideIn {
    from {
        transform: scaleY(0);
        opacity: 0;
    }

    to {
        transform: scaleY(1);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: scaleY(1);
        opacity: 1;
    }

    to {
        transform: scaleY(0);
        opacity: 0;
    }
}


@keyframes imageSwap {
    0% {
        background-image: url('../../../assets/img/skills/skills-bg.jpg');
    }
    50% {
        background-image: url('../../../assets/img/skills/skills-bg-comic.jpg');
    }
    100% {
        background-image: url('../../../assets/img/skills/skills-bg.jpg');
    }
}

.mindset {
    @include dFlex(center, center, 18px);
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
    padding-bottom: 10px;
    text-align: center;
    >img {
        width: 60px;
        height: 60px;
    }
    h6 {
        color: $col-dev-main;
    }
    .mindset-text {
        @include dFlex(center, center, 0);
        flex-direction: column;
        >p {
            font-size: 16px;
            line-height: 1.1;
        }
    }
}

.bg-img {
    @include skillBg();
}

@media screen and (max-width: 768px) {
    p {
        font-size: 15px !important;
        line-height: 18px;
    }

    .mindset {
        >div {
            padding: 0 15px;
        }
    }
}

@media screen and (max-width: 400px) {
    p {
        font-size: 12px !important;
        line-height: 14px;
    }
    .mindset-contact {
        >a {
            font-size: 14px !important;
            >img {
                height: 50px !important;
            }
        }
    }
    .mindset {
        >div {
            @include dFlex(flex-start, center, 20px);
            flex-direction: column;
        }
    }

}

