<section class="skills" id="aSkills">
    <figure class="skills-bg"></figure>

    <section class="skill-title">
        <h3 data-aos="fade-up" data-aos-easing="ease-in-back" data-aos-offset="100">Skills</h3>
        <p>{{skillText}}</p>
        <section class="dashboard">
            @for (chart of softSkills; track chart) {
                <app-chart [chart]="chart"></app-chart>
            }
        </section>
    </section>

    <div class="skills-collection" data-aos="fade-up" data-aos-offset="200">
        @for (skill of allSkills; track skill; let i = $index) {
            <app-skill-bar [skills]="allSkills[i]"></app-skill-bar>
        }
    </div>

    <div class="mindset">
        <h4 data-aos="fade-down">
            {{ mindsetTitle }}
        </h4>
        <div>
            <div data-aos="fade-right">{{ mindsetText }}</div>
            <div data-aos="fade-left" class="mindset-contact">
                <a href=#aContact>
                    <img src="./assets/img/skills/mindset.svg" alt="">
                    {{ currentLang == 'en' ? 'contact me':'kontaktiere mich' }}
                </a>
            </div>
        </div>
    </div>
</section>

<!-- <section>
    <p (click)="highlight('des')" class="des" [class.highlight]="activeHighlight === 'des'">Designer</p>
    <p (click)="highlight('frontend')" class="dev-fe" [class.highlight]="activeHighlight === 'frontend'">Frontend</p>
    <p (click)="highlight('backend')" class="dev-be" [class.highlight]="activeHighlight === 'backend'">Backend</p>
    <p (click)="highlight('misc')" class="misc" [class.highlight]="(activeHighlight === 'misc')">Dev-Tools</p>
</section> -->