@import './../../../assets/styles/mixins.scss';
@import './../../../assets/styles/colors.scss';

.skills {
    @include dFlex(center, center);
    @include maxWidthPadding(80px, 0, 0);
    margin: 0 auto;
    scroll-margin-top: 30px;
    flex-direction: column;
}

.skill-container {
    @include dFlex(center, flex-start, 10%);
    max-width: 1200px;
    padding: 0 50px;

    >img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        overflow: visible;
        opacity: 0.6;
    }

    .skills-des,
    .skills-dev {
        flex-wrap: wrap;
        z-index: 2;
        flex: 1;
        .skill {
            @include dFlex(center, center, 12px);
            flex-direction: column;
            max-width: 100px;
            width: 25%;
            min-width: 60px;
            color: $col-font-main;
            font-family: 'Roboto';
            transition: all 0.4s ease;
            filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.829));
            &:hover {
                transform: scale(0.97);
            }
            >img {
                height: 6vw;
                min-height: 40px;
                max-height: 75px;
                transition: all 0.3s ease;
                &:hover {
                    @include pulseAnimation();
                }
            }
            >p {
                height: 50px;
                font-size: 16px;
                text-align: center;
            }
        }
    }

    .skills-dev {
        @include dFlex(flex-end, flex-start, 40px);
    }

    .skills-des {
        @include dFlex(flex-start, flex-start, 40px);
    }
}

.mindset {
    @include dFlex(center, center, 20px);
    flex-direction: column;
    width: 100%;
    margin-top: 80px;
    overflow: hidden;
    >div {
        @include dFlex(flex-start, center, 30px);
        flex-direction: column;
        width: 100%;
        max-width: 600px;
        padding: 0 50px;
        div {
            flex: 1;
            text-align:justify;
            font-size: 18px;
            line-height: 24px;
            color: $col-font-main;
        }
        .mindset-contact {
            @include dFlex(center, center, 10px);
            opacity: 0.5;
            transition: all 0.4s ease;
            &:hover {
                opacity: 1;
            }
            >a {
                @include dFlex(center, center, 10px);
                flex-direction: column;
                font-size: 18px;
                text-align: center;

                >img {
                    height: 90px;
                    &:hover {
                        @include pulseBigAnimation($duration: 5s);
                    }
                }
            }
        }
    }
}



@media screen and (max-width: 768px) {
    p {
        font-size: 15px !important;
        line-height: 18px;
    }

    .skills-dev,
    .skills-des {
        gap: 5px !important;
    }

    .skill {
        max-width: 80px;
        margin: 10px;
    }

    .skill-container {
        gap: 10px !important;
        padding: 0 10px;
    }

    .mindset {
        >div {
            padding: 0 15px;
        }
    }
}

@media screen and (max-width: 400px) {
    p {
        font-size: 12px !important;
        line-height: 14px;
    }
    .skill {
        max-width: 80px;
        margin: 2px;
    }
    .mindset-contact {
        >a {
            font-size: 14px !important;
            >img {
                height: 50px !important;
            }
        }
    }
    .mindset {
        >div {
            @include dFlex(flex-start, center, 20px);
            flex-direction: column;
        }
    }

}

