@import './../../../assets/styles/mixins.scss';
@import './../../../assets/styles/colors.scss';

.skills {
    @include dFlex(center, center);
    @include maxWidthPadding(80px);
    margin: 0 auto;
    flex-direction: column;
}

.skill-container {
    @include dFlex(center, flex-start, 10%);
    max-width: 1200px;
    overflow: hidden;

    >img {
        position: absolute;
        opacity: 0.3;
        height: 100%;
        z-index: 1;
    }

    .skills-des,
    .skills-dev {
        flex-wrap: wrap;
        z-index: 2;
        flex: 1;
        
        .skill {
            @include dFlex(center, center, 12px);
            flex-direction: column;
            width: 25%;
            color: white;
            font-family: 'Roboto';
            filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.731));

            >img {
                height: 6vw;
                min-height: 50px;
                max-height: 75px;
            }

            >p {
                height: 50px;
                text-align: center;
            }
        }
    }

    .skills-des {
        @include dFlex(flex-end, flex-start, 40px);
    }

    .skills-dev {
        @include dFlex(flex-start, flex-start, 40px);
    }
}