@import './../../assets/styles/mixins.scss';

section {
    @include header(sticky, $zi: 20);
    border-top: 1px solid white;
    top: -1px;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.657));
    z-index: 9;
}

