@import './../../assets/styles/mixins.scss';

header {
    @include header(fixed, $zi: 9);
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.657));
}

.imprint-section {
    @include dFlex(center, center);
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    z-index: 1;
    background-color: $col-bg-main;
    max-width: 1480px;
    padding: 30px 50px;

    >div {
        @include dFlex(center, center, 10px);
        flex-direction: column;
        margin-bottom: 40px;
        filter: drop-shadow(0 0 10px $col-bg-main);
        >h4 {
            margin-bottom: 20px;
        }
    }
}

.bg-img {
    @include bgImg();
}

app-side-bar {
    @include sideBar();
}

app-footer {
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .imprint-section {
        padding: 30px 15px;
    }
}