<header>
    <app-header></app-header>
</header>
<app-side-bar class="no-interact" [position] = "'absolute'"></app-side-bar>
<section class="imprint-section">
    <div>
        <h4>{{ imprintTitle }}</h4>
        <p>Patrick Frey</p>
        <p>Burgallee 9</p>
        <p>61231 Bad Nauheim</p>
    </div>
    <div>
        <h4>{{ imprintContact }}</h4>
        <a href="tel: 01731500779">01731500779</a>
        <a href="mailto: email@mail.mail">email&#64;me.now</a>
    </div>
    <section class="bg-img">
        <img src="./assets/img/team/comment1.png" alt="">
        <img src="./assets/img/team/comment2.png" alt="">
    </section>
</section>
