@import './../../../../assets/styles/mixins.scss';

.project-title {
    @include dFlex(space-between, flex-end, 12px);
    width: 100%;
}

.description {
    width: clamp(300px, 100%, 800px);
    text-align: center;
    min-height: 70px;
}

.project-footer {
    @include dFlex(space-between, flex-end, 12px);
    width: 100%;

    .tech-stack {
        @include dFlex(flex-start, center, 12px);
        p {
            position: absolute;
            top: -20px;
        }
        img {
            width: 30px;
            height: 30px;
        }
    }

    .project-ref {
        @include dFlex(space-between, center, 12px);
        a {
            @include dFlex(center, center, 4px);
            img {
                width: 20px;
                height: 20px;
            }
        }
    }
}

@media screen and (max-width: 700px ) {
    .project-footer {
        @include dFlex(center, center, 12px);
        flex-direction: column;
    }
    .tech-stack img {
        width: 25px !important;
        height: 25px !important;
    }
}

@media screen and (max-height: 800px ) {
    .description {
        max-height: 60px;
        overflow-y: scroll;
    }
}