<div class="info-container">
    <div class="project-title">
        <p>{{ cardNumber +1 }} / {{this.projectData.length}}</p>
        <p>{{ this.projectData[cardNumber].type }}</p>
    </div>
    <h3>{{ this.projectData[cardNumber].id }}</h3>
    <p>Duration: xxx</p>
    <p>{{ getProjectText(this.projectData[cardNumber].projectTextId) }}</p>
    <div class="project-ref">
        <a [href]="projectData[cardNumber].projectGithub" target="_blank">
            Code
            <img src="./assets/img/social/github.svg" alt="">
        </a>
        <a [href]="projectData[cardNumber].projectUrl" target="_blank">
            Demo
            <img src="./assets/img/social/web.svg" alt="">
        </a>
    </div>
    <div class="tools-container">
        <p>Tech-Stack</p>
        <div class="project-tools">
            @for (devPics of this.projectData[cardNumber].devTools; track devPics) {
                <img [src]="devPics" alt="">
            } 
        </div>
        <div class="project-tools">
            @for (desPics of this.projectData[cardNumber].desTools; track desPics) {
                <img [src]="desPics" alt="">
            } 
        </div>
    </div>
</div>