<div class="project-title">
    <p>{{ cardNumber +1 }} / {{this.projectData.length}}</p>
    <h4>{{ this.projectData[cardNumber].id }}</h4>
    <p>{{ this.projectData[cardNumber].type }}</p>
</div>
<!-- <p>Duration: xxx</p> -->
<p>{{ getProjectText(this.projectData[cardNumber].projectTextId) }}</p>

<div class="tools-container">
    <p>Tech-Stack</p>
    <div class="project-tools">
        @for (devPics of this.projectData[cardNumber].devTools; track devPics) {
            <img [src]="devPics" alt="">
        } 
    </div>
    <div class="project-tools">
        @for (desPics of this.projectData[cardNumber].desTools; track desPics) {
            <img [src]="desPics" alt="">
        } 
    </div>
</div>
