@import './../../assets/styles/mixins.scss';

header {
    @include header(sticky, $zi: 9);
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.657));
}

.privacy-policy-section {
    margin: 80px auto;
    max-width: 1480px;
    padding: 0 50px;
    color: $col-font-main;
}


@media screen and (max-width: 768px) {
    .privacy-policy-section {   
        padding: 0 15px;
    }
}