@import "./assets/styles/colors.scss";

body {
    background-color: $col-bg-main;
}

*{
    box-sizing: border-box;
    margin: 0;
    list-style-type: none;
}

*{
    scrollbar-width: thin;
    scrollbar-color: $col-des-main $col-bg-scrollbar;
}

::-webkit-scrollbar {
    width: 4px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: $col-des-main;
}

::-webkit-scrollbar-track {
    background-color: $col-bg-main;
    border: 1px solid $col-bg-main;
}

// color classes
.col-des {
    color: $col-des-main;
}

.col-dev {
    color: $col-dev-main;
}

.col-bg-main {
    background-color: $col-bg-main;
}

.col-bg-header {    
    background-color: $col-bg-header;
}
