@import "./assets/styles/colors.scss";

body {
    background-color: $col-bg-main;
}

*{
    box-sizing: border-box;
    margin: 0;
}

*{
    scrollbar-width: thin;
    scrollbar-color: #FD5B4F #dddddd00;
}

::-webkit-scrollbar {
    width: 4px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #FD5B4F;
    border-radius: 2px;
}

::-webkit-scrollbar-track {
    background-color: #00000000;
    border: 1px solid #00000000;
}