// COLOR VARIABLES
$col-bg-main: rgb(14, 14, 14);
$col-bg-header: #3B3E42;
$col-des-main: #EE8C1B;
$col-dev-main: #4A81E0;
$col-bg-scrollbar: #0c1016;
$col-font-main: rgb(235, 235, 235);
$col-font-sec: #28313e;
$col-des-bg: #402400;
$col-dev-bg: #081328;
$col-000-bg: #000000;
$col-project-bg: rgba(76, 105, 157, 0.508);
$col-glass-border: rgba(109, 149, 205, 0.25);

:root {
    --animation-col-1: #422300;
    --animation-col-2: #c96c01;
    --animation-col-3: #001230;
    --animation-col-4: #054ecc;

    --animation-col-5: #ff8800;
    --animation-col-6: #317dff;
    --animation-col-7: #ff8800;
    --animation-col-8: #317dff;
}
