// COLOR VARIABLES
$col-bg-main: #171E29;
$col-bg-header: #3B3E42;
$col-des-main: #EE8C1B;
$col-dev-main: #4A81E0;
$col-bg-scrollbar: #0c1016;
$col-font-main: rgb(237, 239, 240);
$col-font-sec: #374253;
