@import './colors.scss';

h1 {
    font-size: clamp(24px, 12vw, 100px);
    font-family: 'Chillax', sans-serif;
    font-weight: 600;
    line-height: 0.8;
    color: white;
    white-space: nowrap;
}

h2 {
    font-size: clamp(6px, 5vw, 24px);
    font-weight: 300;
    color: rgb(152, 152, 152);
    white-space: nowrap;
}

h3 {
    font-family: 'Chillax', sans-serif;
    color: $col-font-main;
    font-size: clamp(18px, 8vw, 70px);
    line-height: 1.2;
    padding: 0;
    letter-spacing: 1px;
    text-align: center;
    white-space: nowrap;
}

h4 {
    font-family: 'Chillax', sans-serif;
    color: $col-font-main;
    font-size: clamp(24px, 8vw, 38px);
    line-height: 1;
}

h5 {
    font-family: 'Chillax', sans-serif;
    color: $col-font-main;
    font-size: 40px;
    margin: 50px 0 10px 0;
    padding: 0;
    letter-spacing: 4px;
    text-align: center;
}

h6 {
    font-family: 'Chillax', sans-serif;
    color: $col-font-main;
    font-size: clamp(16px, 2vw, 20px);
    line-height: 1.2;
    padding: 0;
    letter-spacing: 1px;
    text-align: center;
    white-space: nowrap;
}

a,
figcaption {
    font-family: 'Satoshi', sans-serif;
    text-decoration: none;
    color: $col-font-main;
    font-size: clamp(18px, 3vw, 20px);
}

p {
    font-family: 'Satoshi', sans-serif;
    font-size: 18px;
    line-height: 1.3;
    color: $col-font-main;
}
