@import './colors.scss';

h1 {
    font-size: clamp(24px, 12vw, 100px);
    font-family: 'Chillax', sans-serif;
    font-weight: 600;
    line-height: 0.8;
    color: white; // $col-font-sec;
    white-space: nowrap;
}

h2 {
    font-size: clamp(6px, 5vw, 24px);
    font-weight: 300;
    color: rgb(152, 152, 152);
    white-space: nowrap;
}

h3 {
    font-family: 'Chillax', sans-serif;
    color: $col-font-main;
    font-size: clamp(24px, 50vw, 40px);
    line-height: 50px;
    margin: -8px 0 0px 0;
    padding: 0;
    letter-spacing: 4px;
    text-align: center;
}

h4 {
    font-family: 'Chillax', sans-serif;
    color: $col-font-main;
    font-size: 38px;
    line-height: 50px;
}

h5 {
    font-family: 'Chillax', sans-serif;
    color: $col-font-main;
    font-size: 40px;
    margin: 50px 0 10px 0;
    padding: 0;
    letter-spacing: 4px;
    text-align: center;
}

a,
figcaption {
    font-family: 'Satoshi', sans-serif;
    text-decoration: none;
    color: $col-font-main;
    font-size: 18px;
}

p {
    font-family: 'Satoshi', sans-serif;
    font-size: 18px;
    line-height: 1.55;
    color: $col-font-main;
    font-weight: 300;
}

// @media screen and (max-width: 768px) {
//     h1 {
//         font-size: 50px;
//     }
    
//     h2 {
//         font-size: 30px;
//     }
    
//     h3 {
//         font-size: 50px;
//         margin: -8px 0 40px 0;
//     }
    
//     h4 {
//         font-size: 30px;
//     }

//     h5 {
//         font-size: 30px;
//     }
// }